@charset "UTF-8";
html {
	color: #bdbdbd
}

body {
	overflow-y: scroll;
	overflow-x: hidden;
	--main-color: #4d79ef;
	--main-color-dark: #1c1ca7;
	--main-color-light: #29a6ff;
	--theme-main-color: #1d1e22;
	--theme-main-color-dark: #121214;
	--theme-text-color: #bdbdbd;
	--theme-border-light: rgba(255, 255, 255, 0.1);
	background-image: none;
	background: var(--theme-main-color-dark)
}

.p-header {
	position: relative;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover
}

.p-header-inner {
	align-items: center;
	max-width: initial;
	padding: 0;
	background: linear-gradient(to right, rgba(21, 31, 56, .23137255), rgba(0, 167, 207, .30196078), rgba(239, 227, 72, .32156863), rgba(134, 26, 84, .29019608), rgba(5, 79, 125, .30196078));
	background-size: 600%;
	background-position: 0 0;
	box-shadow: inset 0 0 5em rgba(0, 0, 0, .5);
	font-family: Lato, Arial, sans-serif;
	height: 100%;
	justify-content: center;
}

.p-header-inner:before {
	position: absolute;
	content: "";
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	margin: 0 auto;
	background: linear-gradient(rgba(21, 31, 56, 0), var(--theme-main-color-dark))
}

.p-header-content {
	padding: 0
}

.p-body {
	background: var(--theme-main-color-dark)
}

.block-header {
	color: var(--main-color-light);
	border-bottom: 1px solid var(--theme-border-light);
	background: var(--theme-main-color);
	font-family: Karla, sans-serif;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 18px
}

.p-title-value {
	display: none;
	font-family: Karla, sans-serif;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 16px;
	color: var(--main-color)
}

.p-body-header {
	margin: 10px 0
}

.p-body-pageContent {
	padding: 15px;
	background: var(--theme-main-color);
	border-radius: 2px;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, .2)
}

.block-container {
	font-family: Karla, sans-serif;
	color: var(--theme-text-color);
	box-shadow: 1px 4px 10px rgba(0, 0, 0, .05);
	border-radius: 2px;
	border: none;
	background-color: var(--theme-main-color)
}

.p-breadcrumbs {
	background: var(--theme-border-light);
	padding: 15px;
	display: none
}

.p-breadcrumbs>li a {
	color: var(--main-color)
}

.p-breadcrumbs>li:after,
.p-breadcrumbs>li:before {
	color: var(--theme-border-light)
}

a {
	color: #5673bb;
	text-decoration: none;
	transition: all .25s ease-in-out;
	-moz-transition: all .25s ease-in-out;
	-webkit-transition: all .25s ease-in-out
}

::-webkit-scrollbar {
	width: 10px
}

::-webkit-scrollbar-track {
	background: var(--theme-main-color)
}

::-webkit-scrollbar-thumb {
	background: var(--main-color)
}

::-webkit-scrollbar-thumb:hover {
	background: var(--main-color-dark)
}

.block-container .block-header {
	color: var(--main-color);
	border-bottom: 2px solid var(--theme-border-light);
	background: 0 0;
	padding: 10px;
	box-shadow: none;
	font-family: Karla, sans-serif;
	text-transform: capitalize;
	margin-bottom: 20px
}

::placeholder {
	color: var(--theme-text-color)!important
}

.blockMessage {
	color: var(--theme-text-color);
	background: var(--theme-border-light);
	border-color: var(--theme-border-light)
}

.userRole h3 {
	background: rgba(255, 255, 255, .1);
	box-shadow: 2px 2px 5px rgba(0, 0, 0, .21);
	margin-bottom: 15px;
	font-size: 22px;
	padding: 20px;
	font-weight: 700
}

.userWrapper {
	position: relative;
	display: inline-block;
	width: 300px;
	background: rgba(255, 255, 255, .05);
	box-shadow: 2px 2px 5px rgba(0, 0, 0, .21);
	margin: 0 15px 0 0;
	font-size: 22px;
	padding: 20px;
	font-weight: 700;
	transition: all .25s ease-in-out;
	-moz-transition: all .25s ease-in-out;
	-webkit-transition: all .25s ease-in-out
}

.userWrapper:hover {
	background: rgba(255, 255, 255, .2)
}

.userAvatar {
	float: left
}

.userInfo {
	float: left
}

.userAvatar img {
	width: 54px;
    border-radius: 50%;
}

.displayName {
	margin: 0 0 0 10px;
	/*color: var(--main-color)*/
}

.userDescrim {
	color: var(--theme-text-color);
	margin: 0 0 0 10px;
	font-size: 12px;
	transition: all .25s ease-in-out;
	-moz-transition: all .25s ease-in-out;
	-webkit-transition: all .25s ease-in-out
}

@media (max-width:650px) {
	.userWrapper {
		width: 100%
	}
}