.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# PyDev specific (Python IDE for Eclipse)
*.pydevproject

# CDT-specific (C/C++ Development Tooling)
.cproject

# Java annotation processor (APT)
.factorypath

# PDT-specific (PHP Development Tools)
.buildpath

# sbteclipse plugin
.target

# Tern plugin
.tern-project

# TeXlipse plugin
.texlipse

# STS (Spring Tool Suite)
.springBeans

# Code Recommenders
.recommenders/

# Scala IDE specific (Scala & Java development for Eclipse)
.cache-main
.scala_dependencies
.worksheet
data/
code/
test/

# Eric stuff


*.config

Moderation/res/user-data.json
Moderation/res/userdata-cache.json


_Export/

Beta/

Tickets/

Moderation/src/org/golde/discordbot/supportserver/event/IHateKids2point0.java

Utilities/res/api-keys.json

Moderation/res/client-invites.json

Moderation/res/blocked-urls.json

Utilities/res/image-only-channels.json

Utilities/res/like-dislike-poll-channels.json

Website/html/members/indexbackup.html

Website/html/members/debug.log

_Shared/src/hibernate.cfg.xml
